<div class="modal fade" id="questionSubmissionForm" tabindex="-1" role="dialog" aria-labelledby="questionSubmissionForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Where do you want to submit your question?</h4>
      </div>
      <div class="modal-body">
        <% feeds.each do |feed| %>
          <p><%= feed.description %> - <a href="<%= feed.post_url %>">Ask</a></p>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>